
.services_gradient{
  position: absolute;
   left: 0;
  
  height: 291px;
  width: 100vw;
  opacity: 0.75;
  
  z-index: 0;
  }
@media screen and (min-width: 768px) {
  .services_gradient {
    height: 247px;
  }
}
@media screen and (min-width: 1280px) {
  .services_gradient {
    height: 241.283px;
  }
}

.services_up {
  background: linear-gradient(180deg, #001826 0%, rgba(0, 37, 49, 0) 100%);
  top: 0;
  
}
.services_down {
  background: linear-gradient(to top 180deg, #001826 0%, rgba(0, 37, 49, 0) 100%);
  bottom: 0;
}


@media screen and (min-width: 768px) {
  .services_up {
    height: 247px;
  }
}
@media screen and (min-width: 1280px) {
  .services_up {
    height: 257.3px;
  }
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 126px;
}

@media screen and (min-width: 768px) {
.swiper-pagination-bullets.swiper-pagination-horizontal {
 
  bottom: 184px;
}
}

@media screen and (min-width: 1280px) {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
       bottom: 160px;
  }
  }
.swiper-pagination {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1280px) {
  .swiper-pagination {
    gap: 24px;
  }
  }

@media screen and (min-width: 480px) {
  .swiper-pagination {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-pagination {
    max-width: 768px;
    /* padding-left: 32px; */
    padding-left: 512px;
    padding-right: 32px;
    padding-right: 0px;
  }
}


@media screen and (min-width: 1280px) {
  .swiper-pagination {
    max-width: 1280px;
    /* padding-left: 104px; */
    padding-left: 650px;
    padding-right: 104px;
  }
}

.swiper-pagination-bullet {
  position: relative;
  border-radius: 0;
  text-transform: uppercase;
  width: 185px;
  height: auto;

  color: white;
  text-align: left;
  font-size: 20px;

  line-height: 0.85;
  font-weight: 200;
  opacity: 1;
  background: none;
}


@media screen and (min-width: 768px) {
  .swiper-pagination-bullet {
    font-size: 22px;
    line-height: 0.81818;
      width: 230px;
  }
  
}




@media screen and (min-width: 1280px) {
  .swiper-pagination-bullet {
    font-size: 28px;
    line-height: 0.85714;
      width: 255px;
  }
  .slogan-1{
    margin-top: 48px;

  }
  .slogan-2{
    margin-top: 96px;

  }
  .slogan-3{
    margin-top: 168px;

  }
  .slogan-4{
    margin-top: 216px;

  }
}

.swiper-pagination-bullet-active {
  font-weight: 500;
  padding-left: 16.48px;
}


.swiper-pagination-bullet-active::before {
  content: "";
  background-image: url(/images/sviper-el.svg);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 9px;
  height: 9px;
}


.slider_common {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(2, 15, 8, 0.50); 
}

.slider_1 {
  background-image: url(/images/services/mob/background-mob-1.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/images/services/mob/background-mob-1-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(/images/services/tab/background-tab-1.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/services/tab/background-tab-1-2x.jpg);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(/images/services/background-desk-1.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/services/background-desk-1-2x.jpg);
    }
  }
}

.slider_2 {
  background-image: url(/images/services/mob/background-mob-2.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/images/services/mob/background-mob-2-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(/images/services/tab/background-tab-2.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/services/tab/background-tab-2-2x.jpg);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(/images/services/background-desk-2.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/services/background-desk-2-2x.jpg);
    }
  }
}

.slider_3 {
  background-image: url(/images/services/mob/background-mob-3.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/images/services/mob/background-mob-3-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(/images/services/tab/background-tab-3.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/services/tab/background-tab-3-2x.jpg);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(/images/services/background-desk-3.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/services/background-desk-3-2x.jpg);
    }
  }
}

.slider_4 {
  background-image: url(/images/services/mob/background-mob-4.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/images/services/mob/background-mob-4-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(/images/services/tab/background-tab-4.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/services/tab/background-tab-4-2x.jpg);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(/images/services/background-desk-4.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/services/background-desk-4-2x.jpg);
    }
  }
}

.slider_5 {
  background-image: url(/images/services/mob/background-mob-5.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/images/services/mob/background-mob-5-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(/images/services/tab/background-tab-5.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/services/tab/background-tab-5-2x.jpg);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(/images/services/background-desk-5.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/services/background-desk-5-2x.jpg);
    }
  }
}
