.swiper-pagination-bullet {
  position: relative;
  border-radius: 0;
  text-transform: uppercase;
  width: 185px;
  height: auto;
  color: red; /* Changed text color to red */
  text-align: left;
  font-size: 20px;
  line-height: 0.85;
  font-weight: 200;
  opacity: 1;
  background: none;
}
