.button_hero {
  transition: background-color var(--animation);
  background-color: red;
  color: white;
}

.button_hero:hover {
  background-color: darkred;
}

.button_hero::before {
  content: "";
  background-image: url(/images/button/left-mob.svg);
  position: absolute;
  left: 0;
  top: 0;
  width: 42px;
  height: 53px;
}

.button_hero::after {
  content: "";
  background-image: url(/images/button/right-mob.svg);
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
  height: 53px;
}

@media screen and (min-width: 768px) {
  .button_hero::before {
    width: 35px;
    height: 50px;
    background-image: url(/images/button/left-tab.svg);
  }
  .button_hero::after {
    content: "";
    background-image: url(/images/button/right-tab.svg);
    position: absolute;
    width: 35px;
    height: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .button_hero::before {
    width: 44px;
    height: 71px;
    background-image: url(/images/button/left-desk.svg);
  }
  .button_hero::after {
    content: "";
    background-image: url(/images/button/right-desk.svg);
    position: absolute;
    width: 44px;
    height: 71px;
  }
}