.button_hero {
  transition: background-color var(--animation);
  background-color: red; /* Updated button color to red */
}

.button_hero::before {
  content: "";
  background-image: url(/images/button/left-mob.svg);
  position: absolute;
  left: 0;
  top: 0;
  width: 42px;
  height: 53px;
}

.button_hero::after {
  content: "";
  background-image: url(/images/button/right-mob.svg);
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
  height: 53px;
}