.hero_up {
  position: absolute;
  top: 0;
  left: 0;
  height: 287px;
  width: 100vw;
  opacity: 0.5;
  background: linear-gradient(180deg, #001826 0%, rgba(0, 37, 49, 0) 100%);
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .hero_up {
    height: 288.634px;
  }
}
@media screen and (min-width: 1280px) {
  .hero_up {
    height: 146px;
  }
}

.section_hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/images/hero/background-mob.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/images/hero/background-mob-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(/images/hero/background-tab.jpg);
    height: 531px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/hero/background-tab-2x.jpg);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(/images/hero/background-desk.jpg);
    height: 763px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/hero/background-desk-2x.jpg);
    }
  }
  background-color: rgba(2, 15, 8, 0.5);
}

.button_hero {
  transition: background-color var(--animation);
}

.button_hero::before {
  content: "";
  background-image: url(/images/button/left-mob.svg);
  position: absolute;
  left: 0;
  top: 0;
  width: 42px;
  height: 53px;
}

.button_hero::after {
  content: "";
  background-image: url(/images/button/right-mob.svg);
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
  height: 53px;
}

@media screen and (min-width: 768px) {
  .button_hero::before {
    width: 35px;
    height: 50px;
    background-image: url(/images/button/left-tab.svg);
  }
  .button_hero::after {
    content: "";
    background-image: url(/images/button/right-tab.svg);
    position: absolute;
    width: 35px;
    height: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .button_hero::before {
    width: 44px;
    height: 71px;
    background-image: url(/images/button/left-desk.svg);
  }
  .button_hero::after {
    content: "";
    background-image: url(/images/button/right-desk.svg);
    position: absolute;
    width: 44px;
    height: 71px;
  }
}
